<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"customOverlayColor":"#FFF","isUserOverlayColor":false,"isDark":false,"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"center","level":1,"fontSize":"extra-large"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">WHAT WE HAVE DONE</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>As a small association, we get grants from other organizations or the government to help fund programs and events. Here is some of the achievements we’ve done with those generous donations.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>If you have read through what we have accomplished and would like to help us continue our great work. Please reach out to see how you can help us continue to help out our communities.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p><strong>Reach out Via:</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Email: abc@gmail.com</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>In Person: 12345 12 Street</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query -->
<div class="wp-block-query"></div>
<!-- /wp:query -->

<!-- wp:post-navigation-link /-->

<!-- wp:template-part {"slug":"footer","area":"uncategorized"} /-->