<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">"To help and to serve others"</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>SARANAY is a Filipino maxim, which means "to help and to serve others". Our association welcomes all nationalities, not only Filipinos, who share deeply rooted values of caring, and compassion for our fellowmen.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Over the past 40 years, Saranay has brought benefits to Filipinos and their families, including youth, adult, and senior population through the following activities/events</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="http://filipino-canadian-saranay-association-of-alberta.local/achievements/">Visit Our Achievements</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:heading -->
<h2 class="wp-block-heading">OUR CORE VALUES</h2>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">OUR MEMBERS</h2>
<!-- /wp:heading -->

<!-- wp:query -->
<div class="wp-block-query"></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"uncategorized"} /-->