<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"customOverlayColor":"#FFF","isUserOverlayColor":false,"isDark":false,"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"center","fontSize":"extra-large"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:query -->
<div class="wp-block-query"></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","area":"uncategorized"} /-->