<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"customOverlayColor":"#FFF","isUserOverlayColor":false,"isDark":false,"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"center","fontSize":"extra-large","fontFamily":"mandali"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Join Us</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Come join us in some of our fun and exciting events. We have so many new and exciting events happening in the future. All of our events are a great way to get involved with our Non-Profit Organization, and meet other passionate supporters in the community. Interested to see what we have coming up? See below for more details.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query -->
<div class="wp-block-query"></div>
<!-- /wp:query -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous"} /-->

<!-- wp:post-navigation-link /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"uncategorized"} /-->