<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"customOverlayColor":"#FFF","isUserOverlayColor":false,"isDark":false,"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"center","fontSize":"extra-large"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Join Us</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>​Come join us in some of our fun and exciting programs. We have so many new and exciting programs happening presently and in the future. All of our programs are a great way to get involved with our Non-Profit Organization, and meet other passionate supporters volunteers in the community. Interested to see what we have coming up?</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>See below for more details.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:query -->
<div class="wp-block-query"></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","area":"uncategorized"} /-->