<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:heading {"level":1,"fontSize":"large"} -->
<h1 class="wp-block-heading has-large-font-size">Our Services</h1>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image"><img alt=""/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Catering Service</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><a href="http://the-duck-taphouse-grill.local/contact/" data-type="page" data-id="9">For Catering contact us here</a></p>
<!-- /wp:paragraph -->

<!-- wp:image -->
<figure class="wp-block-image"><img alt=""/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Parties and Local Live Bands</h2>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image"><img alt=""/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Live Sports &amp; Sponsorship</h2>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image"><img alt=""/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2 class="wp-block-heading">Pool &amp; Darts</h2>
<!-- /wp:heading -->

<!-- wp:template-part {"slug":"footer"} /-->